name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    steps:
      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: 'Asia/ShangHai'
          timezoneMacos: 'Asia/ShangHai'
          timezoneWindows: 'Asia/ShangHai'

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # to fetch all history
          fetch-tags: true

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: |
          pnpm build
          pnpm build:vite
          pnpm build:nuxt
          pnpm build:webpack
          pnpm build:rspack

      - name: Test
        run: pnpm test

      - name: Upload pages artifacts
        # https://github.com/actions/upload-pages-artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'examples/vite/dist'

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        # https://github.com/actions/deploy-pages
        uses: actions/deploy-pages@v4
